

body{
	margin: 0PX;
	background-color: white;
}




.header{
	background-color: #EF8E57;
}

.header img{
	    padding: 1PX;
		margin: 1px;
		width: 70px;
		height: 70px;
}
.header h1{
	float: right;
	color: white;
	margin-right: 100px;
	margin-top: 25px;

}
.photoDetails{
	display: flex;
	margin: 15px;
}

.photo img{
	width: 500px;
	height: 300px;
	margin: 20px;
	padding: 20px;

}
	
	.About p{
		text-align: justify;
	}
	
	.Service{
		margin: 20px;
	}
.Service h1{
	text-align: center;
}
.footer{
	float: right;
}
.Mycontainer{
	display: flex;
	margin: 25px;
}

.Mycontainer div{
	width: 30%;
	margin: 30px;
	padding: 05px;
}