
body{
	margin: 0px;
	background-color: #f2f2f2;
}

.header{
	background-color: #A3B5A5;
}

.header img{
		padding: 1PX;
		margin: 1px;
		width: 70px;
		height: 70px;
	}

	.header h2{
		float: right;
		color: ##cc99ff;
		margin-right: 100px;
		margin-top: 25 px;


	}
	.photoDetails{
		display: flex;
		margin: 15px;

	}
	.photo {
		margin-right: 10px;
		margin-left:200;
	}
	.about{
		text-align: justify;
		margin-right: 200px;
	}
	.photo img{
		width: 450px;
		height: 300px;

	}
	.service{
		margin:20px;
	}
	.service h1{
		text-align: center;

	}
	.service p{
		text-align: justify;
	}