/*
*{
	margin:0px;
	padding:0px;
}
.hello{
	color: green;
}
#Hi{
	color: blue;
}

.lorem{
	border: 2px solid red;
	padding:10px;
/*	margin: 10px;*/
	margin-top:20px;
	margin-right: 200px;
}*/

*{

	bordw
}


p,span,a{

	border: 1px solid blue;
}

p{
	width:200px;
	display: inline-block;
}
img{
	width: 80px;
}